
.posts-page {
    justify-content: center;
   .btn{
       align-items: center;
   }
  .ant-card {
    margin: 10px;
  }
  .leaflet-container {
        width: 80%;
        height: 50vh;
  }
  .custom-style {
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        --icon-width: 60px;
        --icon-height: 26px;
        --active-height: 40px;
        --close-button-max-size: 12px;
        --icon-button-max-size: 18px;
        --primary-color: #000000;
        --secondary-color: rgba(141, 141, 141, 0.639);
        --border-color: rgba(0,0,0,.2);
        --border-size: 0px;
        --main-background-color: #ffffff;
        --background-color-candidate: #5a6673;
        --background-color-hover: #5a6673b3;
        --background-color-active: #50c3bd;
        --svg-stroke-width: 5px;
    }
    .test{
        display : inline-block;
    }
    .row{
        margin-bottom : 20px;
    }
    .search-control-icon-button{
        background-color: #0e84f8;
    }
    .search-input{
        background-color: #0e84f8;
    }
    .search-control-input{
        background-color: #0e84f8;
    }
    .leaflet-control-zoom-in {
        background-color: #0e84f8;
    }
    .leaflet-control-zoom-out{
        background-color: #0e84f8;
    }
    .leaflet-control-zoom-out:hover{
        background-color: #00bf9a;
    }

}
